main{
    padding: 40px 30px;
    color: #ffffff;
}

.main--title{
    font-size: 40px;
}

.main--list{
    list-style: circle blue;
}

ul {
    list-style: none; /* Remove default bullets */
}
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #61DAFB; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: large;
    vertical-align: middle;
}